Flask==3.1.1
python-dotenv==1.0.0
# ebooklib==0.18 # Removed as EbookLib>=0.18 covers it
EbookLib>=0.18
beautifulsoup4==4.12.3
lxml==5.1.0
openai==1.78.1
requests==2.31.0
Werkzeug==3.1.3
gunicorn==21.2.0
fugashi==1.3.0
waitress==3.0.0
redis==5.0.4
async_timeout
